body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#topBar {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

#topBar > div {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c798f;
}
#topBar > div > a {
  margin-left: 15px;
  font-size: 14px;
  text-decoration: none;
  color: #6c798f;
}

#topBar > div > a:hover {
  text-decoration: underline;
}

#topBar > div > img {
  width: 220px;
  padding: 14px;
}

#backDiv {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
#container {
  width: 400px;
  border: 3px solid #6c798f51;
  margin-top: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#createAcc{
  text-align: center;
}
#createAcc>p{
  margin: 5px;
  font-size: 15px;
  padding: 0;
  margin-bottom: 10px;
}
#createAcc>h4{
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}